* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
h1 {
	color: #ef476f;
}

h2 {
	text-align: left;
}
.question {
	text-align: center;
	font-weight: 600;
	color: #ef476f;
}
.quiz-title {
	text-align: center;
	font-weight: 600;
	color: #06d6a0;
}

/* #quiz {
	text-indent: 10px;
	display: none;
} */

.big {
	font-size: large;
}

.btn {
	/* border: 2px solid black; */
	border-radius: 5px;
	width: 60px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: right;
	/* background-color: #dcdcdc; */
	/* color: white; */
	margin: 0 2px 0 2px;
}

.button.active {
	background-color: #f8f8ff;
	color: #525252;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(131, 56, 236, 0.3);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

button {
	position: relative;
	float: right;
}

.button a {
	text-decoration: none;
	color: black;
}

.choice-container {
	display: flex;
	margin-bottom: 1rem;
	padding: 10px 0 10px 20px;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 600;
	border: 0.1rem solid rgb(131, 56, 236, 0);
	background-color: white;
	border-radius: 10px;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(131, 56, 236, 0.3);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

input[type=radio],
input.radio {
	margin-top: 8px;
	margin-right: 10px;
	width: 0.8em;
	height: 0.8em;
}
/* #container {
	width: 50%;
	margin: auto;
	padding: 0 25px 40px 10px;
	background-color: #1e90ff;
	border: 4px solid #b0e0e6;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	box-shadow: 5px 5px 5px #888;
} */

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

#prev {
	display: none;
}

#start {
	float: right;
	display: none;
	width: 90px;
}

.container {
	width: 50%;
}
